# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
frontend/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
frontend/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

.backend/target/
.backend/pom.xml.tag
.backend/pom.xml.releaseBackup
.backend/pom.xml.versionsBackup
.backend/pom.xml.next
.backend/release.properties
.backend/dependency-reduced-pom.xml
.backend/buildNumber.properties
.backend/.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.backend/.mvn/wrapper/maven-wrapper.jar
.env
