<div
  class="d-flex flex-column align-items-start justify-content-center p-3"
  [ngStyle]="this.stylePropertiesInjectionObject"
>
  <h1 style="text-align: center">
    Conditions Générales d’Utilisation du Site
    {{ this.informationInjectObject.companyNameOrSiteResponsible }}
  </h1>

  <div class="cgu-category d-flex flex-column align-items-start">
    <h2 class="mt-4">Article 1 : Objet et champ d’application</h2>
    <p class="value">
      Les présentes Conditions Générales d’Utilisation (CGU) définissent les
      termes et conditions régissant l’accès et l’utilisation du site
      {{ this.informationInjectObject.companyNameOrSiteResponsible }}, ci-après
      dénommé “le Site”. Le Site est édité par
      {{ this.informationInjectObject.companyNameOrSiteResponsible }}, ci-après
      dénommé “l’Éditeur”.
    </p>
  </div>

  <div class="cgu-category d-flex flex-column align-items-start">
    <h2 class="mt-4">Article 2 : Acceptation des CGU</h2>
    <p class="value">
      L’accès et l’utilisation du Site impliquent l’acceptation sans réserve des
      présentes CGU. L’utilisateur doit lire et accepter les termes et
      conditions avant d’accéder au Site.
    </p>
  </div>

  <div class="cgu-category d-flex flex-column align-items-start">
    <h2 class="mt-4">Article 3 : Propriété intellectuelle</h2>
    <p class="value">
      Tous les éléments du Site, y compris les textes, les images, les sons et
      les vidéos, sont la propriété de l’Éditeur ou de ses partenaires.
      L’utilisateur est interdit de reproduire, de modifier, de publier, de
      diffuser ou de communiquer ces éléments sans l’autorisation écrite
      préalable de l’Éditeur.
    </p>
  </div>

  <div class="cgu-category d-flex flex-column align-items-start">
    <h2 class="mt-4">Article 4 : Données personnelles</h2>
    <p class="value">
      L’Éditeur collecte et utilise les données personnelles des utilisateurs
      pour les besoins du Site et pour améliorer ses services. Les utilisateurs
      ont le droit de accéder, de modifier et de supprimer leurs données
      personnelles.
    </p>
  </div>

  <div class="cgu-category d-flex flex-column align-items-start">
    <h2 class="mt-4">Article 5 : Responsabilité</h2>
    <p class="value">
      L’Éditeur ne peut être tenu responsable des dommages directs ou indirects
      résultant de l’utilisation du Site, notamment en cas de perte de données
      ou de perturbation du fonctionnement du Site.
    </p>
  </div>

  <div class="cgu-category d-flex flex-column align-items-start">
    <h2 class="mt-4">Article 6 : Liens hypertextes</h2>
    <p class="value">
      Le Site peut contenir des liens hypertextes vers d’autres sites web.
      L’Éditeur n’a pas le contrôle sur ces sites et ne peut être tenu
      responsable de leur contenu.
    </p>
  </div>

  <div class="cgu-category d-flex flex-column align-items-start">
    <h2 class="mt-4">Article 7 : Modification des CGU</h2>
    <p class="value">
      L’Éditeur se réserve le droit de modifier les présentes CGU à tout moment,
      sans préavis. Les utilisateurs sont donc invités à consulter régulièrement
      les CGU pour prendre connaissance des éventuelles modifications.
    </p>
  </div>

  <div class="cgu-category d-flex flex-column align-items-start">
    <h2 class="mt-4">Article 8 : Droit applicable et juridiction</h2>
    <p class="value">
      Les présentes CGU sont soumises au droit français. Toute contestation
      relative à l’interprétation ou à l’exécution des présentes CGU sera
      soumise aux tribunaux compétents de la France.
    </p>
  </div>

  <div class="cgu-category d-flex flex-column align-items-start">
    <h2 class="mt-4">Article 9 : Langue</h2>
    <p class="value">
      Les présentes CGU sont rédigées en [langue]. Si une traduction existe,
      elle est fournie à titre informatif et ne peut être considérée comme un
      texte officiel.
    </p>
  </div>

  <div class="cgu-category d-flex flex-column align-items-start">
    <h2 class="mt-4">Article 10 : Entrée en vigueur</h2>
    <p class="value">
      Les présentes CGU entrent en vigueur à compter de leur publication sur le
      Site.
    </p>
  </div>

  <p class="mt-5 cgu-category">
    En téléchargeant ou en utilisant le Site, l’utilisateur déclare avoir lu et
    accepté les présentes CGU.
  </p>
</div>
