<div
  class="d-flex flex-column align-items-start justify-content-center p-3"
  [ngStyle]="this.stylePropertiesInjectionObject"
>
  <h1 style="text-align: center">Mentions légales</h1>

  <!-- Identité de l'éditeur du site -->
  <div class="legal-mention-category d-flex flex-column align-items-start">
    <h2 class="mt-4">Identité de l'éditeur</h2>
    <span class="key">Nom de l'entreprise ou du responsable du site</span>
    <span class="value">{{
      this.informationInjectObject.companyOrSiteManagerName
    }}</span>

    <span class="key">Prénom du responsable du site</span>
    <span class="value">{{
      this.informationInjectObject.siteManagerFirstName
    }}</span>

    <span class="key"
      >Adresse du siège social ou du domicile du responsable du site</span
    >
    <span class="value">{{
      this.informationInjectObject
        .addressOfTheRegistereOfficeOrDomicileOfSiteResponsible
    }}</span>

    <span class="key"
      >Numéro d'immatriculation au registre national unique des entreprises
      (RNE) ou au registre du commerce et des sociétés (RCS)</span
    >
    <span class="value">{{
      this.informationInjectObject.immatriculationRneOrCs
    }}</span>

    <span class="key"
      >Numéro de TVA intracommunautaire (sauf pour les micro-entrepreneurs en
      régime de franchise)</span
    >
    <span class="value">{{
      this.informationInjectObject.intracommunityTvaNumber
    }}</span>
  </div>

  <!-- Coordonnées -->
  <div class="legal-mention-category d-flex flex-column align-items-start">
    <h2 class="mt-4">Coordonnées</h2>
    <span class="key">Nom de l'entreprise ou du responsable du site</span>
    <span class="value">{{
      this.informationInjectObject.companyNameOrSiteResponsible
    }}</span>

    <span class="key">Adresse email du responsable du site</span>
    <span class="value">{{ this.informationInjectObject.companyEmail }}</span>

    <span class="key">Numéro de téléphone du responsable du site</span>
    <span class="value">{{
      this.informationInjectObject.companyPhoneNumber
    }}</span>
  </div>
  <!-- Propriété intellectuelle -->
  <div class="legal-mention-category d-flex flex-column align-items-start">
    <h2 class="mt-4">Propriété intellectuelle</h2>
    <span class="value"
      >Tous les contenus du site, y compris les textes, les images, les vidéos
      et les sons, sont la propriété de
      {{ this.informationInjectObject.companyNameOrSiteResponsible }}. Toute
      reproduction, diffusion, modification, publication ou adaptation totale ou
      partielle des contenus du site, sans autorisation préalable et écrite du
      responsable du site, est interdite.</span
    >
  </div>

  <!-- Liens hypertextes -->
  <div class="legal-mention-category d-flex flex-column align-items-start">
    <h2 class="mt-4">Liens hypertextes</h2>
    <span class="value"
      >Le site peut contenir des liens hypertextes vers d'autres sites ou
      ressources en ligne. Le responsable du site n'exerce aucun contrôle sur
      ces sites ou ressources et décline toute responsabilité quant à leur
      contenu.</span
    >
  </div>

  <!-- Cookies -->
  <div class="legal-mention-category d-flex flex-column align-items-start">
    <h2 class="mt-4">Cookies</h2>
    <span class="value"
      >Le site utilise des cookies pour améliorer l'expérience utilisateur et
      collecter des statistiques de visites. Les utilisateurs peuvent configurer
      leur navigateur pour refuser l'installation de cookies ou les
      supprimer.</span
    >
  </div>

  <!-- Données personnelles -->
  <div class="legal-mention-category d-flex flex-column align-items-start">
    <h2 class="mt-4">Données personnelles</h2>
    <span class="value"
      >Le responsable du site collecte et conserve les données personnelles des
      utilisateurs uniquement pour les besoins de la communication et de la
      gestion du site. Les utilisateurs ont le droit de demander la suppression
      de leurs données personnelles et de s'opposer à leur traitement.</span
    >
  </div>

  <!-- Loi applicable et juridictions compétentes -->
  <div class="legal-mention-category d-flex flex-column align-items-start">
    <h2 class="mt-4">Loi applicable et juridictions compétentes</h2>
    <span class="value"
      >Les présentes mentions légales sont soumises au droit français. Toute
      contestation ou litige relatif au site sera soumis aux tribunaux
      compétents du ressort de Paris.</span
    >
  </div>

  <!-- Dernière mise à jour -->
  <div class="legal-mention-category d-flex flex-column align-items-start">
    <h2 class="mt-4">Dernière mise à jour</h2>
    <span class="value"
      >Les présentes mentions légales ont été mises à jour le 01/11/2024.</span
    >
  </div>
</div>
