<!-- <div 
    class="d-flex flex-column align-items-start justify-content-center"
    style="margin-top: 15vh;margin-bottom: 15vh;" >
    <h1 style="text-align: center;">Mentions légales</h1>
    <div class="d-flex flex-column align-items-start">
        <h2 class="mt-4">Identité de l'éditeur</h2>
        <span>Nom : [Nom de l'entreprise ou du responsable du site]</span>
        <span>Prénom : [Prénom du responsable du site]</span>
        <span>Adresse : [Adresse du siège social ou du domicile du responsable du site]</span>
        <span>Numéro d'immatriculation au registre national unique des entreprises (RNE) ou au registre du commerce et des sociétés (RCS) : [Numéro d'immatriculation]</span>
        <span>Numéro de TVA intracommunautaire (sauf pour les micro-entrepreneurs en régime de franchise) : [Numéro de TVA]</span>
    </div>
    <div class="d-flex flex-column align-items-start">
        <h2 class="mt-4">Coordonnées</h2>
        <span>[Nom de l'entreprise ou du responsable du site]</span>
        <span>[Adresse e-mail du responsable du site]</span>
        <span>[Numéro de téléphone du responsable du site]</span>
    </div>
    <div class="d-flex flex-column align-items-start">
        <h2 class="mt-4">Propriété intellectuelle</h2>
        <span>Tous les contenus du site, y compris les textes, les images, les vidéos et les sons, sont la propriété de [Nom de l'entreprise ou du responsable du site]. Toute reproduction, diffusion, modification, publication ou adaptation totale ou partielle des contenus du site, sans autorisation préalable et écrite du responsable du site, est interdite.</span>
    </div>
    <div class="d-flex flex-column align-items-start">
        <h2 class="mt-4">Liens hypertextes</h2>
        <span>Le site peut contenir des liens hypertextes vers d'autres sites ou ressources en ligne. Le responsable du site n'exerce aucun contrôle sur ces sites ou ressources et décline toute responsabilité quant à leur contenu.</span>
    </div>
    <div class="d-flex flex-column align-items-start">
        <h2 class="mt-4">Cookies</h2>
        <span>Le site utilise des cookies pour améliorer l'expérience utilisateur et collecter des statistiques de visites. Les utilisateurs peuvent configurer leur navigateur pour refuser l'installation de cookies ou les supprimer.</span>
    </div>
    <div class="d-flex flex-column align-items-start">
        <h2 class="mt-4">Données personnelles</h2>
        <span>Le responsable du site collecte et conserve les données personnelles des utilisateurs uniquement pour les besoins de la communication et de la gestion du site. Les utilisateurs ont le droit de demander la suppression de leurs données personnelles et de s'opposer à leur traitement.</span>
    </div>
    <div class="d-flex flex-column align-items-start">
        <h2 class="mt-4">Loi applicable et juridictions compétentes</h2>
        <span>Les présentes mentions légales sont soumises au droit français. Toute contestation ou litige relatif au site sera soumis aux tribunaux compétents du ressort de Paris.</span>
    </div>
    <div class="d-flex flex-column align-items-start">
        <h2 class="mt-4">Dernière mise à jour</h2>
        <span>Les présentes mentions légales ont été mises à jour le [date de la dernière mise à jour].</span>
    </div>
</div> -->

<div class="d-flex flex-row ">
    <div class="d-flex flex-column align-items-start justify-content-center align-items-lg-start">
        <h2>toto</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam labore officia, aliquam quam iusto inventore nihil incidunt rem molestiae unde suscipit aliquid corrupti! Nulla fugiat eaque esse veniam, voluptatem velit.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam labore officia, aliquam quam iusto inventore nihil incidunt rem molestiae unde suscipit aliquid corrupti! Nulla fugiat eaque esse veniam, voluptatem velit.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam labore officia, aliquam quam iusto inventore nihil incidunt rem molestiae unde suscipit aliquid corrupti! Nulla fugiat eaque esse veniam, voluptatem velit.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam labore officia, aliquam quam iusto inventore nihil incidunt rem molestiae unde suscipit aliquid corrupti! Nulla fugiat eaque esse veniam, voluptatem velit.</p>
        
    </div>
</div>