<div class="d-flex flex-column align-items-start justify-content-center p-3"
    [ngStyle]="this.stylePropertiesInjectionObject">
    <h1 style="text-align: center">Cookies</h1>

    <div class="category d-flex flex-column align-items-start">
        <h2 class="mt-4">Politique des cookies</h2>
        <p class="value">
            Nous utilisons des cookies sur notre site web pour améliorer votre expérience utilisateur et pour collecter
            des informations sur votre navigation. Les cookies sont de petits fichiers texte qui sont stockés sur votre
            appareil lors de votre visite sur notre site.
        </p>
    </div>

    <div class="category d-flex flex-column align-items-start">
        <h2 class="mt-4">Objectifs des cookies</h2>
        <p class="value">
            Nous utilisons des cookies pour :
            <br>- Mémoriser vos préférences et vos paramètres de navigation
            <br>- Améliorer la personnalisation de vos expériences sur notre site
            <br>- Collecter des informations sur votre activité de navigation pour analyser et améliorer notre site
            <br>- Diffuser des publicités ciblées en fonction de vos centres d’intérêt
        </p>
    </div>

    <div class="category d-flex flex-column align-items-start">
        <h2 class="mt-4">Durée de vie des cookies</h2>
        <p class="value">
            Les cookies que nous utilisons ont une durée de vie variable, allant de quelques minutes à plusieurs mois.
            Certaines cookies sont détruites automatiquement à la fin de votre session, tandis que d’autres restent
            stockées sur votre appareil pendant une période plus longue.
        </p>
    </div>

    <div class="category d-flex flex-column align-items-start">
        <h2 class="mt-4">Gestion des cookies</h2>
        <p class="value">
            Vous pouvez gérer vos préférences en matière de cookies en utilisant les paramètres de votre navigateur.
            Vous pouvez également choisir de refuser certains types de cookies ou de les supprimer à tout moment.
        </p>
    </div>

    <div class="category d-flex flex-column align-items-start">
        <h2 class="mt-4">Liens vers notre politique de confidentialité</h2>
        <p class="value">
            Pour en savoir plus sur la manière dont nous recueillons et utilisons vos données personnelles, veuillez
            consulter notre politique de confidentialité.
        </p>
    </div>

    <div class="category d-flex flex-column align-items-start">
        <h2 class="mt-4">Mise à jour de la politique de cookies</h2>
        <p class="value">
            <strong>Nous nous réservons le droit de modifier cette politique de cookies à tout moment</strong>. Nous
            vous recommandons de consulter régulièrement cette page pour vous assurer que vous êtes informé des
            dernières mises à jour.
        </p>
    </div>

    <div class="category d-flex flex-column align-items-start">
        <h2 class="mt-4">Contact</h2>
        <p class="value">Si vous avez des questions ou des préoccupations concernant notre politique de cookies,
            n’hésitez pas à nous contacter à l’adresse {{this.informationInjectObject.companyEmail}}.</p>
        <p>En continuant à utiliser notre site web, vous acceptez nos conditions de confidentialité et notre politique
            de cookies.</p>
    </div>

    <div class="category d-flex flex-column align-items-start">
        <h2 class="mt-4">Liste des cookies utilisés</h2>
        <p class="value">Voici la liste des cookies que nous utilisons sur notre site web :
            <br>- Cookie 1 : stocke vos préférences de langue et de pays
            <br>- Cookie 2 : permet de personnaliser les publicités en fonction de vos centres d’intérêt
            <br>- Cookie 3 : collecte des informations sur votre activité de navigation pour améliorer notre site
        </p>
    </div>
</div>