<nav
  class="navbar navbar-expand-lg"
  data-bs-theme="dark"
>
  <div class="container-fluid d-flex align-items-center">
    <a
      class="navbar-brand d-flex align-items-center justify-content-center"
      href="#"
    >
      <img
        src="assets/images/logo.svg"
        alt="application logo"
        width="70vw"
        height="70vh"
      />
      <h1 [ngStyle]="this.text_color">{{ this.title }}</h1>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav d-flex">
        <div class="nav-item ">
          <a
            class="nav-link active"
            [ngStyle]="this.text_color"
            aria-current="page"
            href="#"
            >Commencer l'entrainement</a
          >
        </div>
        <li class="nav-item">
          <a class="nav-link" [ngStyle]="this.text_color" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngStyle]="this.text_color" href="#">Pricing</a>
        </li>
        <li class="nav-item d-lg-none mb-2 mb-lg-0">
          <a
            class="nav-link"
            href="#"
            >
            <button class="btn btn-success">S'identifier</button></a>
        </li>
      </div>
    </div>
    <button class="d-none d-lg-block btn btn-success ms-auto mb-3">S'identifier</button>
  </div>
</nav>
