<footer [ngStyle]="this.stylePropertiesInjectionObject" class="d-flex flex-column flex-lg-row p-3 align-items-center justify-content-start bg-black border border-danger ">
    <div>&copy; {{this.currentYear}}, {{this.title}}</div>
    <div class="d-flex flex-wrap align-items-center justify-content-center ms-5 mt-lg-0 mt-1 gap-3">
        <a style="text-decoration: none;" [routerLink]="['/legal-mentions']">Mentions légales</a>
        <a style="text-decoration: none;" [routerLink]="['']">CGU</a>
        <a style="text-decoration: none;" [routerLink]="['']">Confidentialité</a>
        <a style="text-decoration: none;" [routerLink]="['']">Cookies</a>
        <a style="text-decoration: none;" [routerLink]="['']">Contact</a>
    </div>
    <div class="d-flex flex-wrap ms-lg-auto me-lg-4 mt-lg-0 mt-2 gap-3 align-items-center justify-content-center justify-content-lg-end bg-black">
        <div><fa-icon [icon]="faTwitter"></fa-icon></div>
        <div><fa-icon [icon]="faFacebook"></fa-icon></div>
        <div><fa-icon [icon]="faLinkedin"></fa-icon></div>
        <div><fa-icon [icon]="faInstagram"></fa-icon></div>
    </div>
</footer>