/* Taille du container dédié aux fonctionnalités */
.func{
    height: 70vh;
}

.key {
    margin-top: 1vh;
    font-weight: bolder;
}

.value {
    font-style: italic;
}

.category {
    margin-left: 2vh;
}

.ng-valid [required]{
    border-left: 5px solid green;
}

/* All element who aren't form not valid (input, select...) */
.ng-invalid:not(form){
    border-left: 5px solid red;
}
